.main-page {
  display: flex;
  flex-direction: column;
  width: 80%;
  min-height: 100vh;
  /* border: 1px solid black; */
}

.header-list {
  margin: 0;
  height: 12%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 60px;
  border-bottom: 1px solid #ccc;
}

.header-list .left {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-list .left h4 {
  margin: 0 25px 0 0;
}

.header-list input {
  background-color: rgba(224, 234, 245, 0.842);
  border-radius: 5px;
  padding: 5px 20px;
  outline: none;
  border-style: none;
  transition: transform 80ms ease-in;
}

.header-list input:hover {
  transform: scale(1.1)
}

.card-list {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 60px;
  justify-content: center;
}

.btnAdd {
  border-radius: 100%;
  padding: 10px 15px;
  border: none;
  color: white;
  background-color: #71c9ce;
  transition: transform 50ms ease-in;
}

.btnAdd:hover {
  transform: scale(1.12);
}

.btnAdd:active {
  transform: scale(0.95)
}

.btnAdd:focus {
  outline: none;
}
